div{
    background-color: red;
    width: 200px;
    height: 200px;
    color: white;


    border-radius: 20px;
    border: solid 20px red;

    outline-style: solid;
    outline-width: 20px;
    outline-color: red;
    outline-offset: 20px;
    padding: 35px 15px 20px 14px;
    margin: 40px 25px 110px 14px;

    display: inline-block ;

}

body{
    padding: 50px;
}